<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>视频</string>
		<key>selectedImage</key>
		<string>红色-视频聊icon</string>
		<key>image</key>
		<string>灰色-视频聊icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>在线</string>
		<key>selectedImage</key>
		<string>tabbar_photos-active</string>
		<key>image</key>
		<string>tabbar_photos</string>
	</dict>
	<dict>
		<key>title</key>
		<string>约会吧</string>
		<key>selectedImage</key>
		<string>tabbar_dates-active</string>
		<key>image</key>
		<string>tabbar_dates</string>
	</dict>
	<dict>
		<key>title</key>
		<string>消息</string>
		<key>selectedImage</key>
		<string>tabbar_message-active</string>
		<key>image</key>
		<string>tabbar_message</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我</string>
		<key>selectedImage</key>
		<string>tabbar_me-active</string>
		<key>image</key>
		<string>tabbar_me</string>
	</dict>
</array>
</plist>
